<header>
  <img
    src="assets/img/profile.jpg"
    alt="VinoVaishnavi_Resume"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>VinoVaishnavi S</h1>
</header>

<aside>
  <div class="container">
    <p>Frontend Developer HTML | CSS | Javascript | Angular </p>
    <p>Idaichivillai, Thoothukudi District</p>
    <p>
     I am a motivated Computer Science and Engineering graduate seeking an entry-level software developer 
role. Skilled in HTML, CSS, JavaScript, and Angular with experience from academic projects and
a 6-month internship. Eager to contribute to impactful projects while learning and growing in a 
dynamic environment.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/VinoVaishnavi_Resume.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/vinovaishnavi-s-a6309425a/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <!-- <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure> -->

      <!-- <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Email"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="vinovaishnavisr@gmail.com" target="_blank">
            <strong>Send e-mail</strong>
            <p>vinovaishnavisr&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure> -->
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Email"
          width="22px"
          height="24px"
        />
        <figcaption>
          <!-- <a href="mailto:vinovaishnavisr@gmail.com" target="_blank">
            <strong>Send e-mail</strong>
            <p>vinovaishnavisr&#64;gmail.com</p>
          </a> -->
          <a href="https://mail.google.com/mail/?view=cm&to=vinovaishnavisr@gmail.com" target="_blank">
            <strong>Send e-mail</strong>
            <p>vinovaishnavisr&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
      
    </section>
  </div>
</aside>
