<!-- <div class="container">
  <h2>Project</h2>

  <ul>
    @for(item of arrayProjects(); track item){
    <li>
      <button (click)="openDialog(item)">
        <img
          [alt]="item.alt"
          [attr.width]="item.with"
          [attr.height]="item.height"
          loading="lazy"
        />
      </button>
    </li>
    }
  </ul>
</div> -->
<section class="projects">
  <h2>Featured Projects</h2>
  <div class="projects-grid">
    <div class="project-card">
      <h3>Intern Project Management System</h3>
      <p>Developed an enterprise-level application using HTML, CSS, and Angular to manage intern and employee details, track tasks, and monitor task completion status.</p>
    </div>
    <div class="project-card">
      <h3>Automobile Rental Management System</h3>
      <p>Designed and built a comprehensive website for managing automobile rentals using HTML, CSS, JavaScript, Python, and MySQL.</p>
    </div>
  </div>
</section>
